<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Salary</th>
        <th>Age</th>
        <th>Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{emp.employee_name}}</td>
        <td>{{emp.employee_salary}}</td>
        <td>{{emp.employee_age}}</td>
        <td>
          <button class="btn btn-danger mx-2" (click)="deleteEmployee(emp.id)">Delete</button>
          <button type="button" class="btn btn-primary" routerLink="/edit/{{emp.id}}">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
